<div class="card ">
{% set full_image = 'images/fav/' ~ photo.favourite_photo %}
            <div class="card-content">
                <div class="content">
                    <div class="card_img ">
                        <img  class="br-10" src={{asset(full_image)}} alt="">
                    </div>
                    <div class="card_photographer">
                    <a href="">{{photo.username}}</a>
                    </div>
                    <p>{{formatter.createSnippet(photo.bio)}}</p> 
                </div>
                <div class="buttons has-addons">
                    <button class="button is-primary">Book Now</button>
                    <button class="button is-info">View Photos</button>
                </div>
            </div>
 </div>
 