<div class="card">
{% set full_image = 'images/small/' ~ photo.favorite_photo %}
            <div class="card-content">
                <div class="content">
                    <div class="card_img">
                        <img src={{asset(full_image)}} alt="">
                    </div>
                    <div class="card_photographer">
                    <a href="">{{photo.username}}</a>
                    </div>
                    <h3>{{photo.favorite_title}}</h3>
                    <p>{{photo.favorite_desc}}</p> 
                </div>
                <div class="buttons has-addons">
                    <button class="button is-primary">Book Now</button>
                    <button class="button is-info">View Photos</button>
                </div>
            </div>
 </div>
 