{% extends 'base.html.twig' %}
{% block title %}Hello LoginController!
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <h1 class="title">Log In</h1>
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="field">
                            <label for="username" class="label">Email:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="input"></div>
                            <div class="field">
                                <label for="password" class="label">Password:</label>
                                <input type="password" id="password" name="_password" class="input"></div>
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
